
//
// VARIABLES
//

// My customs
$nobita_grey: #f7f5f5;
$nobita_grey__dark: rgba(62, 62, 62, 0.8);
$nobita_grey__semi: rgba(62, 62, 62, 0.6);
$nobita_blue: #2db8f7;

// Colors
$blue: $nobita_blue;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
